.menu{
    
    border: 2px solid #000;
    text-align:right;
    word-spacing:5px;
    border-color: rgb(255, 0, 55);
    background-color: red;
    border-width: 1em;
    color: white;
    text-decoration: none;

position: relative;
}
.link a{
     
text-align: right;
    text-decoration: none;
color:white;
font-size:  25px;
margin:20px
}

.B{
text-align: center;

}
input[type="button"]{
    background-color: red;
    color: white;
   
      width: 150px; 
      height: 30px; 
      border: 2px solid black; 
      font-size: 20px;

      
}

input[type="text"]{
    
   
      width: 500px; 
      height: 25px; 
      border: 2px solid black; 
}
.palavras p{
    font-size:  50px;
    top: 100px
    
}

